@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=IM+Fell+Great+Primer&display=swap');


/* font-family: 'IM Fell French Canon SC', serif;
font-family: 'IM Fell Great Primer', serif; */

html,
body {
    height: 100;
    margin: 0;
}

body {
    font-family: 'IM Fell Great Primer',
    serif;
    font-weight: 400;
    /* overflow-y: auto; */
    overflow-x: hidden;
    position: relative;

}

/* Main page  */

.hero {
    background: url("../images/great_atuin.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    min-height: 100%;
}


/* ----------nav -------------- */

.navbar-dark .navbar-toggler {
    color: #dde1ef;
    border-color: #dde1ef;
    padding: 10px;
}

/* To change the text cursor to finger pointer  */
/* https: //stackoverflow.com/questions/8809909/change-cursor-to-finger-pointer/8809958  */
a.help-btn {
    cursor: pointer;
}

.navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 0;
}

/* as nav is transparent it is hard to see on mobile so media query to change to dark-blue  */
@media screen and (max-width: 768px) {
    ul.navbar-nav.align-items-end.ms-auto {
        background: #0e3159;
        width: 162px;
        border-radius: 1em;
        padding-right: 5px;
        border: 0;
    }

    .game {
        height: 120vh;
    }
}


img,
svg {
    vertical-align: middle;
    height: 75px;
}

@media only screen and (max-width: 768px) {

    img,
    svg {
        vertical-align: middle;
        height: 50px;
    }
}

.navbar-brand:hover {
    animation: rotate 1.2s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.nav-link {
    font-size: 1.5em;
}

/* hover underline nav items  */
a.nav-link.text-white:hover {
    border-bottom: 2px solid white;
    transform: scale(1.2);
    margin: 10px;
}

/* navbar turtle */
.btn-outline-light:hover {
    color: rgb(3 14 44);
    background-color: #9fa5a5;
    border-color: rgb(248, 249, 250);
    border-width: 2px;
}

/* Body styling  */




/* Modal  */

.modal-title,
.contact-header {
    font-family: 'IM Fell French Canon SC', serif;
    font-weight: 800;
    text-align: center;
    padding-left: 44px;
}


.modal-content {
    background-color: rgb(213 220 220 / 88%);
    text-align: center;
    border-bottom: transparent;
}

.modal-header {
    padding: 0.5rem 0.5rem;
    /* border-bottom: 1px solid; */
}

.modal-body {
    padding: 0.5em;
}

.modal-header .btn-close {
    padding: 0.5rem 1rem;
    margin: -.5rem -.5rem -.5rem auto;
}

.play,
.submit,
.reset,
.help {
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 1.5em;
}

.btn-check:focus+.btn-light,
.btn-light:focus {
    color: #f9fafb;
    background-color: #000;
    border-color: #000;
    box-shadow: 0 0 0 0.25rem rgb(211 212 213 / 50%);
}

.play,
.resultsBtn {
    background-color: #000;
    border: 2px #fff;
}


.play:hover,
.resultsBtn:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000
}

a,
a:hover {
    color: #fff;
    text-decoration: none;
}


.btn-light.help:hover {
    background-color: black;
    border: 1px solid black;
    color: #fff;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}


.modal-footer {
    justify-content: center;
}

/* Footer  */

footer {
    list-style-type: none;
    /* position: absolute; */
    bottom: 60px;
    left: 0;
    right: 0;
    width: 100vw;

    align-items: center;
    background: #fff;
    opacity: 0.6;
    height: 60px;
    z-index: 2;
    flex-shrink: 0;
}

footer li {
    list-style-type: none;
    justify-items: center;
    align-items: center;
    color: black;
}

.icon {
    height: 30px;
    /* padding-top: 10px; */
}

.copyright {
    padding-top: 12px;
    font-size: 14px;
}

.sm-links-ul {
    text-align: right;
    margin-right: 20px;
    padding-top: 15px;
}

.sm-links li {
    margin-bottom: 0;
    font-size: 1.5em;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

footer img {
    height: 32px;
}

ul.list-inline.sm-links-ul a:hover {
    padding: 7px 5px 10px 5px;
    transform: scale(1.1);
    box-shadow: 0 0 1.5rem black;
}


/* Contact page  */
.contact-hero {
    background: url("../images/great_atuin.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.bg-light.h-100.p-5.rounded-3.text-center {
    opacity: 0.7;
}

.contact {
    margin-top: 100px;
    max-width: 380px;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    border-radius: 5rem;
    margin-bottom: 70px;
}

.form-control-sm {
    font-size: small;
}

/* game page  */
.game {
    background: url("../images/backgroundsky.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex: 1 0 auto;
    min-height: 130vh;
}

.gameContent {
    vertical-align: middle;
    align-items: center;
    padding-top: 57px;
    padding-bottom: 60px;
}

.answers {
    padding-top: 20px;
}


.answer {
    margin: 10px;
    transition: 0.1s;
}

/* when answer clicked enlarge button */
.clicked {
    transform: scale(1.2);
    border-color: #C0C0C0;
    box-shadow: 0 0 10px #C0C0C0;
}

/* for screen sizes small and below padding  */
@media screen and (max-width: 576px) {
    #quizQuestion {
        padding-top: 80px;
        color: white;
        font-family: 'IM Fell French Canon SC',
            serif;
        font-size: 2em;
    }
}

/* for screen sizes medium increase padding */
@media screen and (min-width: 576px) {
    #quizQuestion {
        padding-top: 100px;
        color: white;
        font-family: 'IM Fell French Canon SC',
            serif;
        font-size: 2.5em;
    }
}


/* extra large screens increase again */
@media screen and (min-width: 1400px) {
    #quizQuestion {
        padding-top: 100px;
        color: white;
        font-family: 'IM Fell French Canon SC',
            serif;
        font-size: 2.5em;
    }
}

/* css from sitepoint  */
/* https: //www.sitepoint.com/simple-javascript-quiz/#whatsnext  */
.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.7s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container {
    height: 200px;
    margin-top: 40px;
}

.results {
    z-index: 2;
    width: 100%;
    opacity: 1;
    transition: opacity 0.7s;
    color: #fff;
}

/* end of sitepoint css  */

.imageResult {
    padding: 10px;
}

#results {
    padding: 20px;
}

.books {
    color: #000;
    background-color: #ffffff91;
    padding: 20px;
font-family: 'IM Fell Great Primer',
serif;
font-size: 1em;
    border: 1px solid #fff;
    border-radius: 33px;
    margin: 25px;
    max-width: 600px;
}

/* Portrait and Landscape */
/* https: //css-tricks.com/snippets/css/media-queries-for-standard-devices/  */
@media only screen 
and (min-device-width: 375px)
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) {
    .game {
        min-height: 200vh;
    }
}

@media screen and (max-width: 576px) {
    .books {
        padding: 12px;
    }
}

.book-btn {
    margin: 25px;
}

/* prev and next buttons  */
.volume {
    display: flex;
    justify-content: center;
    padding: 0 10px 0 10px;
    height: 50px;
}

.muted {
    display: flex;
    justify-content: center;
    padding: 0 10px 0 10px;
    height: 50px;
}