@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Lato&display=swap');

/* 
font-family: 'IM Fell French Canon SC', serif;
font-family: 'Lato', sans-serif; */
html,
body {
    height: 100;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    overflow-y: auto;
    overflow-x: hidden;

}

:root {
    --dark-blue: #030e2c;
    --silver: #C0C0C0;
}

.hero {
    background: url("../images/great_atuin.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 120vh;
    min-height: 100%;
}

.content {
    min-height: 100%;
}

.contact-hero {
    background: url("../images/great_atuin.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 120vh;
    min-height: 100%;
}

.bg-light.h-100.p-5.rounded-3.text-center {
    opacity: 0.7;
}

/* ----------nav -------------- */

.navbar-dark .navbar-toggler {
    color: #dde1ef;
    border-color: #dde1ef;
    padding: 10px;
}



/* as nav is transparent it is hard to see on mobile so media query to change to dark-blue  */
@media only screen and (max-width: 768px) {
    ul.navbar-nav.align-items-end.ms-auto {
        background: #0e3159;
        width: 162px;
        border-radius: 1em;
        padding-right: 5px;
        border: 0;
    }

    .game {
        height: 130vh;
    }
}


img,
svg {
    vertical-align: middle;
    height: 75px;
}

@media only screen and (max-width: 768px) {

    img,
    svg {
        vertical-align: middle;
        height: 50px;
    }
}

.navbar-brand:hover {
    animation: rotate 1.2s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.nav-link {
    font-size: 1.5em;
}

/* hover underline nav items  */
a.nav-link.text-white:hover {
    border-bottom: 2px solid white;
    transform: scale(1.2)
}

/* navbar turtle */
.btn-outline-light:hover {
    color: rgb(3 14 44);
    background-color: #9fa5a5;
    border-color: rgb(248, 249, 250);
    border-width: 2px;
}

/* Body styling  */




/* Modal  */

.modal-title,
.contact-header,
.results {
    font-family: 'IM Fell French Canon SC', serif;
    font-weight: 800;
    text-align: center;
}

.welcome {
    padding-left: 47px;
}

.help-title {
    padding-left: 200px;
}

.modal-content {
    background-color: rgb(213 220 220 / 88%);
    text-align: center;
}

.play,
.submit,
.reset,
#previous,
#next {
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 1.5em;
}

.btn-check:focus+.btn-light,
.btn-light:focus {
    color: #f9fafb;
    background-color: #000;
    border-color: #000;
    box-shadow: 0 0 0 0.25rem rgb(211 212 213 / 50%);
}

.help,
#previous {
    font-family: 'IM Fell French Canon SC',
        serif;
}

.play,
#next,
.resultsBtn {
    background-color: black;
    border-color: white;
}


.play:hover,
.resultsBtn:hover {
    background-color: #273a4e;
    border-color: #273a4e;
}

a,
a:hover {
    color: #ffffff;
    text-decoration: none;
}


.btn-light.help:hover {
    background-color: black;
    border: 1px solid black;
    color: #fff;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}


.modal-footer {
    justify-content: center;
}

/* contact  */

.contact {
    margin-top: 4em;
    max-width: 380px;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    border-radius: 5rem;
    margin-bottom: 70px;
}

.form-control-sm {
    font-size: small;
}

/* Footer  */

footer {
    list-style-type: none;
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    background: #fff;
    opacity: 0.6;
    height: 60px;
    z-index: 2;
    flex-shrink: 0;
}

footer li {
    list-style-type: none;
    justify-items: center;
    align-items: center;
    color: black;
}

.icon {
    height: 30px;
    /* padding-top: 10px; */
}

.copyright {
    padding-top: 12px;
}

.sm-links-ul {
    text-align: right;
    margin-right: 20px;
    padding-top: 15px;
}

.sm-links li {
    margin-bottom: 0;
    font-size: 1.5em;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

footer img {
    height: 32px;
}

ul.list-inline.sm-links-ul a:hover {
    padding: 7px 5px 10px 5px;
    transform: scale(1.1);
    box-shadow: 0 0 1.5rem black;
}


/* game page  */
.game {
    background: url("../images/backgroundsky.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex: 1 0 auto;
    height: 120vh;
}

.gameContent {
    vertical-align: middle;
    /* min-height: 100%; */
    /* height: 100%; */
    align-items: center;
    padding-top: 57px;
    padding-bottom: 60px;
}

/* quiz  */

/* container holding the answers  */
.answers {
    padding-top: 40px;
}


.answer {
    margin: 10px;
    transition: 0.1s;
}

/* when answer clicked enlarge button */
.clicked {
    transform: scale(1.2);
    border-color: #C0C0C0;
    box-shadow: 0 0 10px #C0C0C0;
}



/* #quizQuestion {
    padding-top: 200px;
    color: white;
    font-family: 'IM Fell French Canon SC',
        serif;
    font-size: 2.5em;
} */

/* for screen sizes small and below reduce padding again  */
@media screen and (max-width: 576px) {
    #quizQuestion {
        padding-top: 170px;
        color: white;
        font-family: 'IM Fell French Canon SC',
            serif;
        font-size: 2.5em;
    }
}

/* for screen sizes medium reduce padding */
@media screen and (min-width: 576px) {
    #quizQuestion {
        padding-top: 180px;
        color: white;
        font-family: 'IM Fell French Canon SC',
            serif;
        font-size: 2.5em;
    }
}


/* extra large screens   */
@media screen and (min-width: 1400px) {
    #quizQuestion {
        padding-top: 250px;
        color: white;
        font-family: 'IM Fell French Canon SC',
            serif;
        font-size: 2.5em;
    }
}

/* css from sitepoint  */
.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.7s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container {
    /* position: relative; */
    height: 200px;
    margin-top: 40px;
}

.results {
    z-index: 2;
    width: 100%;
    opacity: 1;
    transition: opacity 0.7s;
    color: #fff;
}

.imageResult {
    padding: 10px;
}

#results {
    padding: 20px;
}

.books {
    color: #000;
    background-color: #ffffff91;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    border: 1px solid #fff;
    border-radius: 33px;
    margin: 25px;
}

/* prev and next buttons  */
.volume {
    display: flex;
    justify-content: center;
    padding: 0 10px 0 10px;
    height: 50px;
}

.muted {
    display: flex;
    justify-content: center;
    padding: 0 10px 0 10px;
    height: 50px;

}